<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SchtormRun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SchtormRun.Properties.Settings>
            <setting name="AppWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AppFontFamily" serializeAs="String">
                <value>Cascadia Mono</value>
            </setting>
            <setting name="AppFontSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="AppFontWeight" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="AppBackgroundColor" serializeAs="String">
                <value>#242424</value>
            </setting>
            <setting name="AppForegroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AppHighlightColor" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="AppBackgroundOpacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="SelectedMonitor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnabledDiscordRPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppBorderRadius" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DiscordAppId" serializeAs="String">
                <value>902880104831676446</value>
            </setting>
            <setting name="ReplacementDictionaryPath" serializeAs="String">
                <value>JsonData\Abbreviations.json</value>
            </setting>
            <setting name="SubWindowMaxHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SuccessNotificationBackgroundColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ErrorNotificationBackgroundColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ProcessNotificationBackgroudColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="StandardCommandsXmlPath" serializeAs="String">
                <value>XmlData\StandardCommands.xshd</value>
            </setting>
            <setting name="CalculatorCharactersXmlPath" serializeAs="String">
                <value>XmlData\CalculatorCharacters.xshd</value>
            </setting>
            <setting name="AppBorderColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CustomCommandsDictionaryPath" serializeAs="String">
                <value>JsonData\CustomCommands.json</value>
            </setting>
            <setting name="AppSmallFontSize" serializeAs="String">
                <value>18</value>
            </setting>
        </SchtormRun.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.AvalonEdit" publicKeyToken="9cc39be672370310" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.2.30" newVersion="6.1.2.30" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>