<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchtormRunExchange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SchtormRunExchange.Properties.Settings>
            <setting name="OutputVariable" serializeAs="String">
                <value>SRE_outputValue</value>
            </setting>
            <setting name="ApplicationTheme" serializeAs="String">
                <value>SRE_appTheme</value>
            </setting>
            <setting name="ApplicationStartupPath" serializeAs="String">
                <value>SRE_appStartupPath</value>
            </setting>
            <setting name="ApplicationWindowWidth" serializeAs="String">
                <value>SRE_appWidth</value>
            </setting>
            <setting name="DataAccepted" serializeAs="String">
                <value>SRE_accepted</value>
            </setting>
            <setting name="SchtormTextType" serializeAs="String">
                <value>schtorm_text</value>
            </setting>
            <setting name="SchtormMarkdownType" serializeAs="String">
                <value>schtorm_markdown</value>
            </setting>
            <setting name="SchtormWebpageType" serializeAs="String">
                <value>schtorm_webpage</value>
            </setting>
            <setting name="SchtormCodeWay" serializeAs="String">
                <value>schtorm_code</value>
            </setting>
            <setting name="SchtormPathWay" serializeAs="String">
                <value>schtorm_path</value>
            </setting>
        </SchtormRunExchange.Properties.Settings>
    </applicationSettings>
</configuration>